<configuration scan="true" scanPeriod="10 seconds">
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	
	<property name="WEB_APP_CONSOLE_LOG_PATTERN" value="${WEB_APP_CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} traceId[%X{traceId}] sessionId[%X{sessionId}] user[%X{userName}] %clr(%logger){cyan}\n%m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

	<appender name="WEB_APP_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.huoyun.common.log.layout.WebPatternLayout">
				<Pattern>${WEB_APP_CONSOLE_LOG_PATTERN}</Pattern>
			</layout>
		</encoder>
	</appender>
	
	<logger name="com.huoyun" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="WEB_APP_CONSOLE" />
	</root>
</configuration>